---
# cache: /mnt/private_rqy/samesh/outputs/mesh_segmentation_cache
# cache_overwrite: False
output: /mnt/private_rqy/samesh/outputs/mesh_segmentation_output

sam:
  sam:
    checkpoint: /mnt/private_rqy/mvs_uv/checkpoints/sam2_hiera_large.pt
    model_config: sam2_hiera_l.yaml
    # checkpoint: /mnt/private_rqy/mvs_uv/checkpoints/sam2.1_hiera_small.pt
    # model_config: configs/sam2.1/sam2.1_hiera_s.yaml
    # checkpoint: /mnt/private_rqy/mvs_uv/checkpoints/sam2.1_hiera_tiny.pt
    # model_config: configs/sam2.1/sam2.1_hiera_t.yaml
    auto: True
    ground: False
    engine_config:
      points_per_side: 8
      crop_n_layers: 0
      # min_mask_region_area: 1024 # sam2 breaks since it uses C connected components
      pred_iou_thresh: 0.7
      stability_score_thresh: 0.9
      stability_score_offset: 1.0

sam_mesh:
  use_modes: ['matte']
  color_res: 125
  min_area: 32
  face2label_threshold: 4
  connections_threshold: 4
  counter_lens_threshold_min: 16
  connections_bin_resolution: 100
  connections_bin_threshold_percentage: 0.0
  smoothing_threshold_percentage_size: 0.10
  smoothing_threshold_percentage_area: 0.10
  smoothing_iterations: 32
  repartition_cost: 1
  repartition_lambda: 1
  repartition_iterations: 1

renderer:
  target_dim: [512, 512]
  camera_params: {type: orth}
  camera_generation_method: edge
  renderer_args:
    uv_map: True
    interpolate_norms: True
  sampling_args: {radius: 2}
  lighting_args: {}